/* variables/mapas */
/* imports */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container-lg {
  background-color: white;
}

body .container {
  background-color: white;
  margin: 20px;
}

body header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.footerStyle .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 30px;
  margin: 10px;
}

.footerStyle .footerStyle__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerStyle .footerStyle__a a {
  text-decoration: none;
  color: #9c9c9c;
}

.footerStyle .footerStyle__a a:hover {
  color: black;
}

.footerStyle .footerStyle__a .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 30px;
  margin: 10px;
}

.footerColor {
  background-color: rgba(230, 230, 230, 0.644);
}

.logoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logoFooter .logo__img img {
  -webkit-transition: -webkit-transform .50s;
  transition: -webkit-transform .50s;
  transition: transform .50s;
  transition: transform .50s, -webkit-transform .50s;
}

.logoFooter .logo__img img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.encabezados {
  font-family: 'Roboto Mono', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.encabezados .principal {
  color: black;
  padding: 20px;
}

.contenidoTextos {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenidoTextos .contenidoTextos__p {
  color: black;
}

.titulo-regular {
  font-size: 25px;
}

.titulo-mediano {
  font-size: 60px;
}

.imagenes-regular {
  height: 300px;
}

.imagenes-mediano {
  height: 600px;
}

/* ======================home======================== */
.logo .logo__img {
  width: 150px;
  height: auto;
}

/*grid BT */
.container-lg {
  /* ======================mas vendidos======================== */
}

.container-lg .titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-lg .titulos h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-lg .col {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-lg .bannerAccesorios .bannerAccesorios__img {
  -webkit-transition: -webkit-transform .50s;
  transition: -webkit-transform .50s;
  transition: transform .50s;
  transition: transform .50s, -webkit-transform .50s;
  padding-top: 20px;
  cursor: pointer;
}

.container-lg .bannerAccesorios .bannerAccesorios__img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container-lg .bannerTienda {
  padding-top: 20px;
  padding-bottom: 10px;
  opacity: 100%;
}

.container-lg .productos {
  padding: 30px;
}

.btn {
  background-color: rgba(212, 212, 212, 0.74);
  border-color: black;
  color: black;
  -webkit-transition: -webkit-transform .50s;
  transition: -webkit-transform .50s;
  transition: transform .50s;
  transition: transform .50s, -webkit-transform .50s;
}

.btn:hover {
  background-color: rgba(109, 255, 187, 0.74);
  border-color: rgba(109, 255, 187, 0.74);
  color: black;
}
/*# sourceMappingURL=main.css.map */